<!DOCTYPE html>

<html>
    <head>
        <title>Diffa</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./diffa/static/basic_style.css" />
        <script src="./diffa/static/line_highlight.js"></script>
    </head>
    <body>
        <h1>diffa</h1>
        <div class="side-by-side">
            <table class="diff" style="width: 100%;">
                <tr class="diff_titles">
                    <th> {{ file1_path }} // {{ file2_path }}</th>
                </tr>
                <tr>
                    <td class="diff_next">{{diff_counter.0}}</td>
                </tr>
                {% for line in diff_lines %}
                <tr class="diff_content">
                    {% if line.0 == '' %}
                    <td class="diff_add">{{ line.1 }}</td>
                    {% else %}
                    <td class="diff_sub">{{ line.0 }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
    